@using Net14Web.Models.ManagmentCompany
@model List<UserViewModel>

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<main>
    <div>
        Здесь будет о нас
    </div>
</main>
