@using Net14Web.DbStuff.ManagmentCompany.Models
@using Net14Web.Models.ManagmentCompany
@model PermissionViewModel

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    <div class="dropdown">
        <button class="dropbtn">
            <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
        </button>
        <div class="dropdown-content">
            <a href="/ManagmentCompany/Index">На главную</a>
            <a href="/ManagmentCompany/About">О нас</a>
            <a href="/ManagmentCompany/Contacts">Контакты</a>
            <a class="login" href="/ManagmentCompany/Login">Вход</a>
            <a class="reg" href="/ManagmentCompany/Registration">Регистрация</a>
        </div>
    </div>
    <h2>Панель администратора</h2>
    <div>
        <div class="add-permission">
            <h2>Добавить уровень доступа</h2>
            <form method="post" action="/ManagmentCompany/AddPermission">
                <label for="name"> Название компании:</label>
                @Html.TextBoxFor(x => x.Permission)
                @Html.ValidationMessageFor(x => x.Permission)

                <input class="submit" type="submit" value="Добавить уровень доступа" />
            </form>
        </div>
    </div>
</div>


