@using Net14Web.Models.ManagmentCompany
@model List<UserViewModel>

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<main>
    <div class="error-page">
        <p>Упс, что-то пошло не так...</p>
        <img src="https://media1.tenor.com/m/Wv6zVQPZFtcAAAAC/error.gif" width="300" height="300" alt="Sorry" />
        <p>Кажется, мы не нашли вас в системе.</p>
        <p>Проверьте правильность ввода Логина или Пароля.</p>
    </div>
</main>
