@using Net14Web.Models.ManagmentCompany

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<main>
    <div class="loginContainer">
        <h2>Авторизация</h2>
        <form method="get" class="loginForm" action="/ManagmentCompany/Logon">
            <label for="name">Имя пользователя:</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button class="button" type="submit">Войти</button>
            <a class="reg-ref" href="/ManagmentCompany/Registration">Регистрация</a>
        </form>
    </div>
</main>
