@using Net14Web.Models.ManagmentCompany
@model IndexViewModel

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<main>
    <div class="loginContainer">
        <div class="dropdown">
            <button class="dropbtn">
                <img class="menu" src="icon.jpg" alt="Меню" id="menuIcon">
            </button>
            <div class="dropdown-content">
                @* @foreach (var myPage in Model.Pages)
                {
                    <a href="/ManagmentCompany/@myPage">@myPage</a>
                } *@
                <a href="/ManagmentCompany/Index">На главную</a>
                <a href="/ManagmentCompany/About">О нас</a>
                <a href="/ManagmentCompany/Contacts">Контакты</a>
                @* <a href="statistics.html">Статистика</a> *@
                <a class="login" href="/ManagmentCompany/Login">Вход</a>
                <a class="reg" href="/ManagmentCompany/Registration">Регистрация</a>
            </div>
        </div>
        <h2>Авторизация</h2>
        <form method="get" class="loginForm" action="/ManagmentCompany/Logon">
            <label for="name">Ваша почта:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button class="button" type="submit">Войти</button>
            <a class="reg-ref" href="/ManagmentCompany/Registration">Регистрация</a>
        </form>
    </div>
</main>
