@using Net14Web.Models.ManagmentCompany

@{
    Layout = "_LayoutManagmentCompany";
}

@section Style
{
    <link href="~/css/ManagmentCompany/ManagmentCompany.css" rel="stylesheet" />
    <link href="~/css/ManagmentCompany/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    <h2>Регистрация</h2>
    <form method="post">
        <label for="name">Ваше имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="nickName">Ваш ник на сайте (будет виден другим пользвоателям):</label>
        <input type="text" id="nickName" name="nickName" required>

        <label for="password">Ваш пароль:</label>
        <input type="password" id="password" name="password" required>

        @*<label for="address">Адрес проживания:</label>
        <input type="text" id="address" name="address" required>

        <label for="passportScan">Прикрепите подтверждающие документы:</label>
        <input type="file" id="passportScan" name="passportScan" accept=".jpg, .png, .pdf" required> *@

        <button class="button" type="submit">Зарегистрироваться</button>
    </form>
</div>


