

@section Style
{
    <link href="~/css/RealEstate/RealEstate.css" rel="stylesheet" />
}

<div class="block-right">
        <select class="button-right" name="Money">
            <option value="Money">BYN</option>
            <option selected value="Money">USD</option>
            <option value="Money">EUR</option>
            <option value="Money">RUB</option>

        </select>
        <button class="button-right">Добавть обьявление</button>
   
     @if ((!User?.Identity?.IsAuthenticated) ?? true)
            {
                <a class="button-right" href="/AuthRealEstate/RealEstateLogin">Вход</a>
            }
            else
            {
                <a href="/AuthRealEstate/RealEstateLogout">Logout</a>
                <a href="/RealEstate/AddApartament">Добавить обьявление</a>
                <a href="/RealEstate/CheckAllApartaments">Все обьявления</a>
            }
</div>

    <div class="block-center">
        <div class="dropdown-block-center">
            <button class="dropbtn-center">Продажа</button>
            <div class="dropdown-content">
                <a href="#">Квартиры</a>
                <a href="#">Дома</a>
                <a href="#">Гаражи</a>
            </div>
        </div>
        <div class="dropdown-block-center">
            <button class="dropbtn-center">Аренда</button>
            <div class="dropdown-content">
                <a href="#">На длительный срок</a>
                <a href="#">На сутки</a>
            </div>
        </div>
        <div class="dropdown-block-center">
            <button class="dropbtn-center">Новостройки</button>
            <div class="dropdown-content">
                <a href="#">Квартиры</a>
                <a href="#">Новостройки</a>
                <a href="#">Жилые комплексы</a>
            </div>
        </div>

    </div>
<div class="images-container">
    <div class="center size">Поиск недвижимости в Минске</div>
    <div class="quick-choice">
        <div class="block button">
            Купить
        </div>
        <div class="block button">
            Снять
        </div>
        <div class="block button">
            Посуточно
        </div>
        <div class="block button">
            Новостройки
        </div>
    </div>

    <div class="choice">
        <div class="dropdown-block">
            <button class="dropbtn">Тип недвижимости</button>
            <div class="dropdown-content">
                <a href="#">Квартира</a>
                <a href="#">Дом</a>
                <a href="#">Гараж</a>
            </div>
        </div>
        <div class="dropdown-block">
            <button class="dropbtn">Сколько комнат?</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
        <div class="dropdown-block">
            <button class="dropbtn">За какую стоимость?</button>
            <div class="dropdown-content">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
        <div class="dropdown-block">
            <input class="style" placeholder="В каком городе?" type="text">
        </div>
    </div>
</div>