@{
    Layout = "_LayoutBookingWeb";
}
@section Style
{
    <link href="~/css/booking.css" rel="stylesheet" />
}

<div data-skyscanner-widget="SearchWidget" data-locale="en-US" data-market="PL" data-currency="USD"></div>
<script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>