html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.lang
{
  cursor: pointer;
  border: 1px red solid;
  background-color: #e7e7e7;
}