@using Net14Web.Models.Online_shop_gadgets
@model List<PaymentModel>

@{
    Layout = "_LayoutOnlineShopGadgets";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="~/css/OnlineStyleGadgets.css">
</head>
<body>
    <h1>Каталог</h1>

    <table>
        <tr>
            <th>Имя</th>
            <th>Описание</th>
            <th>В наличии</th>
        </tr>
        <tr>
            <td>Продукт 1</td>
            <td>Описание продукта 1</td>
            <td>Да</td>
        </tr>
        <tr>
            <td>Продукт 2</td>
            <td>Описание продукта 2</td>
            <td>Нет</td>
        </tr>
    </table>

</body>
</html>
