@using Net14Web.Models.Online_shop_gadgets
@model List<PaymentModel>
@{
    Layout = "_LayoutOnlineShopGadgets";
}


<section>
    <h1>О нашем магазине</h1>
    <p>
        Добро пожаловать в наш магазин гаджетов! Мы предлагаем широкий ассортимент
        качественных электронных устройств по доступным ценам. У нас вы найдете все
        необходимое для комфортной цифровой жизни.
    </p>
    <a href="/OnlineShopGadgets/Catalog" class="rounded-button">Просмотр товаров</a>
</section>
