@using Net14Web.Models.Online_shop_gadgets
@model PaymentModel

<h1>Вашa карта добавлена</h1>

<p>Детали оплаты:</p>
<ul>
    <li>Номер карты: **** **** **** @Model.CardNumber.Substring(Model.CardNumber.Length - 4)</li>
</ul>
