<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
    <div class="header">
        @if ((!User?.Identity?.IsAuthenticated) ?? true)
        {
            <a class='login-link' href="/auth/login">Login</a>
        }
        else
        {
            <a class='logout-link' href="/auth/logout">Logout</a>
        }
        <a href="/Home/Index">Home</a>
        <a class='dnd-link' href="/Dnd/Index">Dnd</a>
        <a class="movies-link" href="/Movies/Index">Movies</a>
        <a href="/WebScada/Index">WebScada</a>
        <a href="/Retro/Index">Retro Consoles</a>
        <a href="/LifeScore/Index">LifeScore</a>
        <a href="/realEstate/Main">RealEstate</a>
        <a href="/GameShop/Index">GameShop</a>
        <a href="/BookingWeb/Index">Booking</a>
        <a href="/PcShop/Index">PcShop</a>
        <a href="/TaskTracker/Index">TaskTracker</a>
        <a href="/InvestPortfolio/Index">InvestPortfolio</a>
        <a href="/Sattelite/Index">Sattelite</a>
        <a href="/Bonds/Index">Bonds</a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        Здесь у нас потом будет фууутер
    </div>
</body>
</html>
