<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
    <div>
        <a href="/Home/Index">Home</a>
        <a href="/Dnd/Index">Dnd</a>
        <a href="/Movies/Index">Movies</a>
        <a href="/ManagmentCompany/Index">ManagmentCompany</a>
        <a href="/WebScada/Index">WebScada</a>
        <a href="/Retro/Index">Retro Consoles</a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div>
        Здесь у нас потом будет фууутер
    </div>
</body>
</html>
