
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="../wwwroot/css/tasktracker.css">
</head>
<body>
    <header>
        <a href="/Home/Index">← TO THE MAIN PAGE</a>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer><span>© 2024 MASHA</span></footer>
</body>
</html>