<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
    <div>
        <a href="/Home/Index">Home</a>
        <a href="/Sattelite/Index">NaviMap</a>
    </div>
    @RenderBody()
    <div>
        Здесь у нас потом будет фууутер
    </div>
</body>
</html>
