@using Net14Web.DbStuff.Models.WebScada;
    
@model List<ScadaData>

@{
    Layout = "_LayoutWebScada";
}

@section WebScadaStyles
    {
    <link href="~/css/WebScada/WebScadaStyles.css" rel="stylesheet" />
    <link href="~/css/WebScada/bootstrap.css" rel="stylesheet" />
}
@*<div>
   <form method="post">
        <div>
            @Html.DropDownList("heroId", "dsad")
        </div>
        <input type="submit" value="Выбрать" />
   </form>
</div>*@