
<div>
    <a href="/RealEstate/ChooseApartaments">ChooseApartaments</a>
    <a href="/RealEstate/AddApartament">AddApartament</a>
    
</div>
<div>
    Вход
    <div>
        Логин
        <input type="email"/>
    </div>
    <div>
        Пароль
        <input type="password"/>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>

    Если вы не зарегистрированны зарегистрируйтесь
    <div>
        <a href="/RealEstate/AddUser">Регистрация</a>
    </div>

</div>