/* UserConsoles.css */

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    width: 300px; /* Увеличен размер блока пользователя */
    margin: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(219, 208, 219);
    border-radius: 3px;
}

.remove-block-icon>img {
    max-height:20px;
    max-width:20px;
}

.remove-link {
    position: relative;
    top: -5px;
    left: 280px;
    text-decoration: none;
    border-radius: 3px;
}

    .remove-link img {
        max-width: 20px; /* Ограничивает максимальную ширину изображения до ширины контейнера */
        height: auto; /* Сохраняет пропорции изображения */
    }


.user-block {
    margin-top: 10px;
}

.user-title {
    font-size: 16px; /* Увеличен размер заголовка */
}

.user-name {
    font-size: 24px; /* Увеличен размер имени */
    margin-top: 5px;
}

.user-email,
.user-num-consoles {
    font-size: 16px; /* Увеличен размер остальных строк информации */
    color: #555;
    margin-top: 5px;
}

.picurl {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    max-width: 100px; /* Ограничение максимальной ширины изображения пользователя */
    height: auto;
    border-radius: 10px; /* Небольшой скругленный угол изображения */
    margin-right: 10px;
}

.pic-and-update {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

input[type="url"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.update-pic {
    width: 100%;
}

.console-discription {
    margin-top: 10px;
    font-size: 16px; /* Увеличен размер описания консоли */
    color: #333;
}

/* Добавлены надписи к каждой строке информации */
.label {
    font-weight: bold;
    margin-right: 5px;
}
