.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user {
    width: 300px;
    margin: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(219, 208, 219);
    border-radius: 3px;
}

.remove-block-icon > img {
    max-height: 20px;
    max-width: 20px;
}

.remove-link {
    position: relative;
    top: -5px;
    left: 280px;
    text-decoration: none;
    border-radius: 3px;
}

    .remove-link img {
        max-width: 20px;
    }

.user-block {
    margin-top: 10px;
}

.user-title {
    font-size: 16px;
}

.user-name {
    font-size: 24px;
    margin-top: 5px;
}

.user-email,
.user-num-consoles {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
}

.picurl {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.email-update-block {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

    .email-update-block label {
        font-weight: bold;
        margin-right: 5px;
    }

    .email-update-block span {
        color: #555;
        margin-top: 5px;
    }

input[type="url"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.update-pic {
    width: 100%;
}

.console-discription {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}
