@using Net14Web.Models.RetroConsoles
@model UserConsole

@{
    Layout = "_LayoutRetro";
}

@section Style
    {
    <link rel="stylesheet" href="~/css/RetroConsoles/style-main-conteiner.css" />
    <link rel="stylesheet" href="~/css/RetroConsoles/stylepage.css" />
}
<div class="main-page">
    <div class="right-bar"></div>
    <div class="conteiner">
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/firstconsole.webp" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#">
                    <span>
                        Обзор ANBERNIC RG35XX Plus - почти безупречная портативная
                        консоль за 65 долларов
                    </span>
                </a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/second picture.webp" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#"><span>30 лучших ретро-приставок 2023 года</span></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/thirdpicture.webp" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#">
                    <span>Объявлена дата начала продаж AYANEO Flip DS и Flip KB</span>
                </a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/anbernic-rg35x-h-news.png"
                     alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#">
                    <span>
                        ANBERNIC представляет RG35XX H - новейшая недорогая портативная
                        приставка
                    </span>
                </a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/anbernic_rg35xx_h_1.png"
                     alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#"><span>Объявлена дата выхода и цена Anbernic RG35XX H</span></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/miyoo1.png" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#"><span>Новые рендеры Miyoo Mini Flip </span></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/Retro-Watch-2.jpg" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#">
                    <span>Ретро-часы перенесут Game Boy Advance SP на ваше запястье</span>
                </a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/banjo-kazooie.png" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#"><span>Новая игра Banjo-Kazooie находится в разработке</span></a>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <img src="~/images/Retro/01-l.png" alt="broken picture" />
            </a>
            <div class="discription-news-card">
                <a href="#">
                    <span>
                        Новый 6-кнопочный контроллер 8BitDo для Xbox идеально подходит
                        для любителей ретро-игр
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="left-bar">
        <div>
            <a href="~/Retro/AddUser">Добавить пользователя</a>
        </div>
    </div>
    
</div>
<div class="pagination">
    <a href="#">«</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">»</a>
</div>