<!DOCTYPE html>
<html lang="ru">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer id="blueFooter">
        <div id="footerContainer">
            <p>&copy; 2024 Мой Дом. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
