<!DOCTYPE html>
<html lang="ru">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <link href="~/css/ManagementCompany.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @await Html.PartialAsync("_AlertPartial")
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer id="blueFooter">
        <div id="footerContainer">
            <p>&copy; 2024 Мой Дом. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
