<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
<div>
    <a href="/realEstate/Main">RealEstate</a>
</div>
 @RenderBody()
    <div>
       Футер
    </div>
</body>
</html>
