@using Net14Web.Models.Dnd
@model List<HeroViewModel>

@{
    Layout = "_LayoutDnd";
}

@section Style
{
    <link href="~/css/dnd.css" rel="stylesheet" />
    <link href="~/css/dnd2.css" rel="stylesheet" />
}
<div class="hero-content">
    <div>
        <a href="/Dnd/AddHero">AddHero</a>
    </div>
    <div>
        <a href="/Dnd/AddRandomHero">AddRandomHero</a>
    </div>
    <div class="heroes">
        @foreach (var hero in Model)
        {
            <div class="hero">
                <div class="remove-block">
                    <a href="/dnd/remove?name=@hero.Name" class="remove-link">X</a>
                </div>
                <div class="name-and-coin-block">
                    <div class="name-block">
                        <div class="hero-title">
                            ГЕРОЙ
                        </div>
                        <div class="hero-name">
                            @hero.Name
                        </div>
                    </div>
                    <div class="coin-block">
                        <div>
                            @hero.Coin <img src="/images/dnd/coin.png" class="icon" />
                        </div>
                        <div class="new-coint-block">
                            <form action="/dnd/updateCoin" method="post">
                                <input type="hidden" name="name" value="@hero.Name" />
                                <div>
                                    <input type="number" name="coin" />
                                </div>
                                <div>
                                    <input type="submit" value="Upd" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="inventory-block">
                </div>
            </div>
        }
    </div>
</div>