@using Net14Web.Models.PcShop
@model AddUserViewModel

@{
    Layout = "_LayoutPcShop";
}

<div>
    <form method="post">

        <div>
            Id пользователя
            @Html.TextBoxFor(x => x.Id)
        </div>

        <div>
            Пароль
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Пароль" })
        </div>

        <div>
            <input type="submit" value="Изменить пароль" />
        </div>
    </form>
</div>