@using Net14Web.Models.PcShop
@model AddUserViewModel

@{
    Layout = "_LayoutPcShop";
}

<div>
    <form method="post">

        <div>
            Новый пароль
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Новый пароль" })
        </div>

        <div>
            <input type="submit" value="Изменить пароль" />
        </div>
    </form>
</div>