@using Net14Web.Models.PcShop
@model List<UserViewModel>

@{
    Layout = "_LayoutPcShop";
}

<div>
    <a href="/PCSHOP/Registration">Registration</a>
</div>
<div>
    <a href="/PCSHOP/Users">Users</a>
</div>
<div>
    <a href="/PCSHOP/EditUserPassword">EditUserPassword</a>
</div>
<div>
    <a href="/PCSHOP/DeleteUsers">DeleteUsers</a>
</div>
<div>
    <a href="/PCSHOP/PCs">PCs</a>
</div>