@using Net14Web.Models.PCSHOP
@model UserViewModel

@{
    Layout = "_LayoutPCSHOP";
}

<div>
    <a href="/PCSHOP/Registration">Registration</a>
</div>
<div>
    <a href="/PCSHOP/Users">Users</a>
</div>
<div>
    <a href="/PCSHOP/EditUserPassword">EditUserPassword</a>
</div>
<div>
    <a href="/PCSHOP/DeleteUsers">DeleteUsers</a>
</div>