@using Net14Web.Models.PcShop
@model UserViewModel

@{
    Layout = "_LayoutPcShop";
}

<div>
    <a href="/PCSHOP/Registration">Registration</a>
</div>
<div>
    <a href="/PCSHOP/Users">Users</a>
</div>