.alerts {
    position: fixed;
    bottom: 100px;
    right: 100px;
}


.alert {
    background: #29f029;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

    .alert.template {
        display: none;
    }
