* {
    position: relative;
    line-height: 1,4;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: hotpink;
    width: 100%;
    height: 250px;
}

.logo {
    margin-left: 50px;
}

.navinfo a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    height: 100px;
    width: 100%;
}

    .navbar .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

.navinfo {
    text-decoration: none;
    list-style-type: none;
    padding: 30px;
    margin-right: 50px;
}

    .navinfo button {
        display: inline-block;
        margin-left: 50px;
    }

.options {
    display: flex;
    background-color: rgb(193, 206, 230);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}

    .options li {
        display: inline-block;
        font-size: larger;
        width: 200px;
    }

.opt a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.searchBlock {
    margin-top: 10px;
    width: 100%;
    height: 200px;
}

.bg-image {
    height: 200px;
    background-image: url(../images/BookingWeb/background.png);
    background-size: cover;
}

.search {
    margin-left: 100px;
    font-size: xx-large;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.searchfields {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 86, 108);
    width: 1130px;
    height: 50px;
    margin: auto;
    border-style: double;
    border-color: rgb(32, 38, 48);
}

.field {
    border-color: rgb(32, 38, 48);
    border-style: double;
    float: left;
    width: 230px;
    height: 40px;
    background-color: rgb(174, 192, 209);
    align-items: center;
}
.searchButton {
    font-size:larger;
    width: 250px;
    height: 40px;
    align-items: center;
    background-color: rgb(157, 188, 192);
}

.offer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10px;
    width: 100%;
    height: 370px;
    background-color: rgb(150, 161, 181);
}

.offerbox {
    background-color: rgb(174, 192, 209);
    width: 260px;
    height: 280px;
    float: left;
    margin-left: 10px;
    border-radius: 15px;
    margin-top: 30px;
}

.city {
    width: 260px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    font-weight: 500;
}
.footer.a{
    display:inline;
    justify-content: space-between;
    padding-left:50px;
}


.user.short .full-info {
    display: flex;
    justify-content: end;
}

.user.name-only{
    height: 20px;
    min-height: auto;
}

.user .full-info {
    display: none;
}

