.hero-content .heroes {
    display: flex;
    flex-wrap: wrap;
}

    .hero-content .heroes .hero {
        border: 1px red solid;
        width: 200px;
        min-height: 100px;
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: end;
    }

.hero-content .hero img {
    max-width: 100px;
    max-height: 100px;
}

.hero-content .name-and-coin-block {
    display: flex;
}

.hero-content .hero-title {
    width: 150px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #626262;
}

.hero-content .hero-name {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.hero-content .hero .icon {
    max-width: 20px;
    max-height: 20px;
}

.hero-content .hero .new-coint-block input {
    width: 40px;
}

    .hero-content .hero .new-coint-block input[type=number] {
        width: 36px;
        padding: 0px;
    }

.hero-content .hero .inventory-block {
    background: #ccc;
}

.remove-block {
    position: absolute;
}

.remove-link {
    position: relative;
    top: -15px;
    right: -10px;
    background: #ccc;
    color: red;
    text-decoration: none;
    border-radius: 3px;
}

.avatar-block img {
    max-width: 100px;
    max-height: 100px;
}

.hero-content .heroes .hero.short {
    height: 20px;
    justify-content: center;
    min-height: auto;
}

.hero.short .details {
    display: none;
}

.hero.full .just-name {
    display: none;
}

.hero .details {
    display: flex;
    justify-content: end;
}

.hero .just-name,
.hero .hero-name{
    cursor: pointer;
}

    .hero .just-name:hover,
    .hero .hero-name:hover {
        background-color: #ededed;
    }

.coin-block .icon{
    cursor: pointer;
}

.hero-create-container{
    display: flex;
}