.sport-content {
    display: unset;
    width: 800px;
    background-color: #F8F8F8;
    border-radius: 20px;
    margin-left: 20px;
    background: linear-gradient(#8abff9,#222935);
}

.content-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.content-header a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px 0;
}

content-header-text {
    width: 25%;
    height: 100%;
    border: 1px black solid;
    border-radius: 20px;
}

.content-header-text a {
    display: flex;
    align-items: center;
}

    content-header-text:hover {
        background-color: aquamarine;
        border: none;
    }



.content-table {
    background-color: #F8F8F8;
}

