@import url('header.css');
@import url('body.css');
@import url('teams.css');
@import url('results.css');
@import url('teams-table.css');
@import url('calendar.css');
@import url('index.css');


.main {
    background: linear-gradient(#141e30, #243b55);
}

.main .header {
    display: flex;
    margin: 0px 0px 20px 0px;
    justify-content: center;
    background: linear-gradient(#435b76, #222935);
    width: 100%;
}

.body{
    display: flex;
}

.countries {
    width: 300px;
    border: 1px black solid;
    height: 100vh;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#435b76,#222935);
    
    margin-left: 20px;
}

.teams-table {
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
