.table-header {
    display: flex;
    width: 80%;
    justify-content: space-around;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.table-body-team {
    display: flex;
    width: 100%;
    margin: 5px;
}
