@section Style
{
    <link href="~/css/LifeScore/lifeScore.css" rel="stylesheet" />
    <link href="~/css/LifeScore/header.css" rel="stylesheet" />
    <link href="~/css/LifeScore/body.css" rel="stylesheet" />
    <link href="~/css/LifeScore/calendar.css" rel="stylesheet" />
}

<div>
    <div class="header">

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>
        <div class="game3">
        </div>
    </div>

    <div class="body">

        <div class="countries">
            список стран
        </div>

        <div class="sport-content">
            <div class="content-header">
                <div class="content-header-teams-table">
                    <a href="/LifeScore/TeamsTable">Таблица</a>
                </div>
                <div class="content-header-calendar">
                    <a href="/LifeScore/Calendar">Календарь</a>
                </div>
                <div class="content-header-results">
                    <a href="/LifeScore/Results">Результаты</a>
                </div>
                <div class="content-header-teams">
                    <a href="/LifeScore/Teams">Команды</a>
                </div>
            </div>
            <div class="content-table">
                <div class="table-header">
                    <div class="table-header-date">
                        Дата
                    </div>
                    <div class="table-header-time">
                        Время
                    </div>
                    <div class="table-header-teams">
                        Команды
                    </div>
                </div>
                <div class="table-body">
                    <div class="game">
                        <div class="game-date">
                            28.04.2023
                        </div>
                        <div class="game-time">
                            19.00
                        </div>
                        <div class="game-teams">
                            Lions - Wolves
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>