@using Net14Web.Models.LifeScore
@model LifeScoreViewModel

@section Style
{
    <link href="~/css/LifeScore/lifeScore.css" rel="stylesheet" />
}

@section Script {
    <script src="~/js/lifeScore/dropdownList.js"></script>
}

<div class="main">

    <div class="container">

        <div class="leagues">
            <div class="league">
                <div class="league-icon">
                    <img src="/images/lifeScore/BHL-logo.png" class="icon" />
                </div>
                <div class="league-text">
                    BHL
                </div>
            </div>
            <div class="league">
                <div class="league-icon">
                    <img src="/images/lifeScore/MHL-logo.png" class="icon" />
                </div>
                <div class="league-text">
                    MHL
                </div>
            </div>
            <div class="league">
                <div class="league-icon">
                    <img src="/images/lifeScore/KHL-logo.png" class="icon" />
                </div>
                <div class="league-text">
                    KHL
                </div>
            </div>
        </div>

    </div>
</div>



