@using Net14Web.Models.LifeScore
@model LifeScoreViewModel

@section Style
{
    <link href="~/css/LifeScore/lifeScore.css" rel="stylesheet" />
}

<div class="main">
    <div class="header">

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>
        <div class="game3">
        </div>
    </div>

    <div class="body">

        <div class="countries">
            список стран
        </div>

        <div class="sport-content">
            <div class="content-header">
                <div class="content-header-text">
                    <a href="/LifeScore/TeamsTable">Таблица</a>
                </div>
                <div class="content-header-text">
                    <a href="/LifeScore/Calendar">Календарь</a>
                </div>
                <div class="content-header-text">
                    <a href="/LifeScore/Results">Результаты</a>
                </div>
                <div class="content-header-text">
                    <a href="/LifeScore/Teams">Команды</a>
                </div>
            </div>
            <div class="content-table">
                <div class="table-header">
                    <div class="table-info">
                        #
                    </div>
                    <div class="table-info">
                        Команда
                    </div>
                    <div class="table-info">
                        Страна
                    </div><div class="table-info">
                        Лига
                    </div>
                </div>
                <div class="table-body">
                    <div class="table-content">
                        @foreach (var team in Model.Teams)
                        {
                            <div class="table-content-team">
                                <div class="table-content-data">
                                    @team.Id
                                </div>
                                <div class="table-content-data">
                                    @team.Name
                                </div>
                                <div class="table-content-data">
                                    @team.Country
                                </div>
                                <div class="table-content-data">
                                    @team.Liga
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="action">
            <a href="/LifeScore/CreateTeam">Добавить команду</a>
        </div>
    </div>
</div>