@section Style
{
    <link href="~/css/LifeScore/lifeScore.css" rel="stylesheet" />
    <link href="~/css/LifeScore/header.css" rel="stylesheet" />
    <link href="~/css/LifeScore/body.css" rel="stylesheet" />
    <link href="~/css/LifeScore/teams.css" rel="stylesheet" />
}

<div>
    <div class="header">

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>

        <div class="game1">
            <div class="game-head">
                <div class="team-first-name">
                    AVG
                </div>
                <div class="game-score">
                    2 : 1
                </div>
                <div class="team-second-name">
                    SLT
                </div>
            </div>

            <div class="game-body">
                <div class="game-body-time">
                    18.50
                </div>
                <div class="game-body-period">
                    1st period
                </div>
            </div>
        </div>
        <div class="game3">
        </div>
    </div>

    <div class="body">

        <div class="countries">
            список стран
        </div>

        <div class="sport-content">
            <div class="content-header">
                <div class="content-header-teams-table">
                    <a href="/LifeScore/TeamsTable">Таблица</a>
                </div>
                <div class="content-header-calendar">
                    <a href="/LifeScore/Calendar">Календарь</a>
                </div>
                <div class="content-header-results">
                    <a href="/LifeScore/Results">Результаты</a>
                </div>
                <div class="content-header-teams">
                    <a href="/LifeScore/Teams">Команды</a>
                </div>
            </div>
            <div class="content-table">
                <div class="table-header">
                    <div class="table-header-place">
                        #
                    </div>
                    <div class="table-header-name">
                        Команда
                    </div>
                    <div class="table-header-games">
                        И
                    </div>
                    <div class="table-header-wins">
                        В
                    </div>
                    <div class="table-header-defeats">
                        П
                    </div>
                    <div class="table-header-goals">
                        Г
                    </div
                    ><div class="table-header-points">
                        О
                    </div>
                </div>
                <div class="table-body">
                    <div class="table-body-team">
                        <div class="table-body-team-place">
                            1
                        </div>
                        <div class="table-body-team-name">
                            Wolves
                        </div>
                        <div class="table-body-team-games">
                            19
                        </div>
                        <div class="table-body-team-wins">
                            11
                        </div>
                        <div class="table-body-team-defeats">
                           8
                        </div>
                        <div class="table-body-team-goals">
                            58 - 25
                        </div>
                        <div class="table-body-team-points">
                            22
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>