@using Net14Web.Models.TaskTracker
@model AddTaskViewModel
@{
    Layout = "_LayoutTaskTracker";
}
@section Style
{
    <link href="~/css/tasktracker.css" rel="stylesheet" />
}
<button class="navigation-button"><a href="/TaskTracker/Index">Back to the Tasks</a></button>
<section class="add-form">
    <div class="add-form__container">
        <h3 class="add-form__title">НОВАЯ ЗАДАЧА</h3>

        <form method="post" class="add-form__form">

            @Html.TextBoxFor(x => x.Name, new { placeholder = "Название", @class = "add-form__input" })

            @Html.TextAreaFor(x => x.Description, new { placeholder = "Описание", @class = "add-form__input add-form__input_description" })

            @Html.TextBoxFor(x => x.Priority, new { placeholder = "Приоритет, введите число от 1 до 3", @class = "add-form__input" })

            <input type="submit" value="Создать заметку" class="add-form__button" />

        </form>

    </div>
</section>

