@using Net14Web.Models.Movies
@model AddMovieViewModel

@section Style
{
    <link rel="stylesheet" href="~/css/movies.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
}

<div>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <br>
                            <div class="row">
                                @if (Model.CanAddMovie)
                                {
                                    <form class="col-12" action="/movies/addmovie" method="post" enctype="multipart/form-data">
                                        <div class="input-group">
                                            <input type="file" name="poster" />
                                            @Html.TextBoxFor(x => x.Title, new { placeholder = "Название фильма", @class = "form-control" })
                                            @Html.TextBoxFor(x => x.Description, new { placeholder = "Описание фильма", @class = "form-control" })
                                            <button type="submit" class="btn btn-outline-secondary"
                                                    id="input-group-button-right">
                                                Добавить фильм
                                            </button>
                                        </div>
                                        <br>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
