.regContainer, .loginContainer {
    font-family: Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}

.regContainer, .loginContainer {
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .regContainer h2, .loginContainer h2 {
        text-align: center;
    }

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

    .button:hover {
        background-color: #45a049;
    }

.reg-ref {
    margin: 10px;
}

.update-form, .remove-form {
    display: inline-block;
}
