@using Net14Web.Models.InvestPortfolio
@model AddStockViewModel

@{
    Layout = "_LayoutInvestPortfolio";
}

<div>
    <form method="post">
        <div>
            Название акции
            @Html.TextBoxFor(x => x.NameStock, new { placeholder = "Название" })
            @Html.ValidationMessageFor(x=>x.NameStock)
        </div>

        <div>
            Цена
            @Html.TextBoxFor(x => x.Price, new { placeholder = "Цена", @type = "number" })
            @Html.ValidationMessageFor(x => x.Price)
        </div>

        <div>
            <input type="submit" value="Добавить акцию" />
        </div>
    </form>
</div>
