@using Net14Web.Models.InvestPortfolio
@model List<StockViewModel>

@{
    Layout = "_LayoutInvestPortfolio";
}

@section Style
{
    <link href="~/css/InvestPortfolio/investPortfolio.css" rel="stylesheet" />

}

<body>
    <div class="the-left-part">
        <div class="the-search-bar">
            <form action="" method="get">
                <input name="s" placeholder="Введите название акции" type="search">
                <button type="submit">Поиск</button>
            </form>
        </div>
        <div>
            <a href="/InvestPortfolio/AddDividend">Добавить дивиденды</a>
        </div>

        <div class="table-with-shares">
            <table>
                <tr>
                    <th>Акции</th>
                    <th>Цена</th>
                    <th>Доля в портфеле</th>
                </tr>
                @foreach (var stock in Model)
                {
                    <tr>
                        <td>@stock.NameStock</td>
                        <td>
                            @stock.Price рублей
                            <form action="/InvestPortfolio/UpdatePrice" method="post">
                                <input type="hidden" name="id" value="@stock.Id">
                                <input type="number" name="price">
                                <input type="submit" value="обновить">
                            </form>
                        </td>
                        <td></td>
                        <td><a href="/InvestPortfolio/remove?id=@stock.Id">Удалить</a></td>
                    </tr>

                }

            </table>
        </div>
    </div>

    <div class="the-central-part">
        <table>
            <tr>
                <td> <b>Общая сумма: 10000 рублей</b></td>
            </tr>
            <tr>
                <td>
                    <img src="https://images.golos.today/p/21PRtjKRXPQyotRPt1Hd7fPufGf1WCpCvB7q9uWKHdpMfdHCxHp1yWYNcETbs6um4J2GbvVRdjbTAWiYe3jPw7YXnxdBTPPaEJ4vEXwSnJX1NJS9KSC2No6vGnVaaE5T6kFRU9vJLtFdYXv9J4c5RPU?format=webp&mode=fit">
                </td>
            </tr>
            <tr>
                <td> <img src="https://itinvest.ru/assets/images/Honeywell%20(1)-789.png"></td>
            </tr>
            <tr>
                <td> <b>Динамика портфеля</b></td>
            </tr>
        </table>
    </div>

    <div class="the-right-part">
        <div class="authorization">
            <a href="#">Вход/Авторизоваться</a>
        </div>

        <div class="list-of-portfolios">
            <table>
                <tr>
                    <th>Ваши портфели</th>
                </tr>
                <tr>
                    <td><a href="#">Консервативный</a></td>
                </tr>
                <tr>
                    <td><a href="#">Первый портфель</a></td>
                </tr>
                <tr>
                    <td><a href="#">Второй портфель</a></td>
                </tr>
            </table>
        </div>

    </div>
</body>
