<div>
    <form method="post">
        <div>
            Уведомления
        </div>
        <div>
            <input name="alertMessage" placeholder="Введи текст уведомления" />
        </div>
        <div>
            <input type="submit" value="Отправить уведомление"/>
        </div>
    </form>
</div>
